**Задание 1**

In [2]:
import pandas as pd

In [3]:
#импорт данных
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [20]:
ratings[ratings['rating'] == 5.0]\
    ['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

**Задание 2**

In [4]:
data = pd.read_csv('power.csv')
data = data[data['country'].isin(['Latvia', 'Estonia', 'Lithuania'])]
data = data[data['year'].between(2005, 2010)]
data = data[data['category'].isin([4, 12, 21])]
data = data[data['quantity'] >= 0]
sum(data['quantity'])

240580.0

**Задание 3**

In [5]:
data_finanz = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding = 'utf-8')[1]
type(data_finanz)

pandas.core.frame.DataFrame

In [6]:
data_finanz.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1010457,-,995966,"1,45 %",14490,13:39:00
1,NaN,EUR/RUB,913327,-,905650,"0,85 %",07677,13:38:00
2,NaN,USD/RUB,743550,-,738085,"0,74 %",05465,13:38:00
3,NaN,JPY/RUB,07209,-,07124,"1,19 %",00085,13:39:00
4,NaN,CNY/RUB,113964,-,112955,"0,89 %",01009,13:38:00